= render partial: "partials/header"

= render partial: "partials/about"

= render partial: "partials/resume"

= render partial: "partials/porfolio"

-#= render partial: "partials/call-to-action"

= render partial: "partials/testimonials"

= render partial: "partials/contacts"

= render partial: "partials/footer"